.profile-form-container {
  padding: 60px;
}

.profile-form {
  margin: 0 auto;
  width: 500px;

  background-color: #ffff;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 2px rgba(0, 0, 0, 0.25);

  padding: 22px 16px 22px 16px;
}

.profile-avatar {
  margin: 0 auto;
}

.profile-avatarCircle {
  overflow: hidden;
  position: relative;

  width: 96px;
  height: 97px;

  background-color: #76b1a6;
  border-radius: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin: 0 auto;
  margin-bottom: 24px;

  background-size: cover;
  background-repeat: no-repeat;
}

.profile-avatarIcon {
  width: 44px;
  height: 44px;
}

.add-photo-icon {
  color: white;
  position: absolute;
  bottom: 22%;
  right: 38%;
}

.file-input-label {
  cursor: pointer;
  bottom: 0;
  position: absolute;
  width: 100%;
  height: 40%;
  background-color: rgba(32, 33, 36, 0.6);
  transition: opacity 0.2s ease-in-out;
}
