.sign-in-form {
  padding: 60px;
}

.card {
  margin: 0 auto;
  width: 500px;

  background-color: #ffff;
  border-radius: 30px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25), 0px 1px 2px rgba(0, 0, 0, 0.25);

  padding: 20px 16px 22px 16px;
}

.cardTitle {
  text-align: center;
  margin-bottom: 16px;
}

.cardTitleText {
  font-weight: bold;
  font-size: 22px;
  line-height: 24px;
  letter-spacing: 0.5px;
}

.submitButton {
  height: 46px;
  width: 468px;

  background-color: #76b1a6;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  border-radius: 4px;

  cursor: pointer;
}

.submitButtonText {
  color: #ffff;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 1.25px;
}
