.post-header {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 680px;
  white-space: nowrap;
}

.post-header-title {
  white-space: nowrap;
  width: 700px !important;
  text-align: start !important;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.post-body-description {
  font-size: 18px;
  margin-bottom: 14px;
}

.post-send-message-title {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 18px;
}

.post-send-message {
  margin-bottom: 20px;
}

.post-send-button {
  width: 156px;
  height: 46px;
  background-color: #76b1a6;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: #ffff;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
}

.post-discussion {
  margin-bottom: 18px;
}

.post-discussion-title {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 18px;
}

@media screen and (max-width: 805px) {
  .post-header {
    max-width: 600px;
  }
}

@media screen and (max-width: 725px) {
  .post-header {
    max-width: 500px;
  }
}

@media screen and (max-width: 628px) {
  .post-header {
    max-width: 400px;
  }
}

@media screen and (max-width: 530px) {
  .post-header {
    max-width: 300px;
  }
}

@media screen and (max-width: 428px) {
  .post-header {
    max-width: 200px;
  }
}

@media screen and (max-width: 329px) {
  .post-header {
    max-width: 150px;
  }
}
