.post-header {
  text-overflow: ellipsis;
  overflow: hidden;
  width: 680px;
  white-space: nowrap;
}

.post-header-title {
  white-space: nowrap;
  width: 700px !important;
  text-align: start !important;
  overflow: hidden;
  text-overflow: ellipsis;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 0.5px;
}

.post-body-description {
  font-size: 18px;
  margin-bottom: 14px;
}

.post-send-message-title {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 18px;
}

.post-send-message {
  margin-bottom: 20px;
}

.post-send-button {
  width: 156px;
  height: 46px;
  background-color: #76b1a6;
  box-shadow: 0px 4px 4px rgb(0 0 0 / 25%);
  border-radius: 4px;
  border: none;
  cursor: pointer;
  color: #ffff;
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
}

.post-discussion {
  margin-bottom: 18px;
}

.post-discussion-title {
  font-weight: bold;
  font-size: 18px;
  letter-spacing: 1px;
  margin-bottom: 18px;
}
