.header {
  height: 70px;
  width: 100%;

  background-color: #ffff;
  box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25),
    0px 2px 6px 2px rgba(0, 0, 0, 0.25);
  border-radius: 1px;

  padding-left: 60px;
  padding-right: 60px;

  display: flex;
  align-items: center;

  z-index: 2;
}

.headerContent {
  width: 100%;

  display: flex;
  justify-content: space-between;
  align-items: center;
}

.headerContentStart {
  display: flex;
  align-items: center;
}

.headerContentStartTitle {
  margin-left: 30px;

  font-weight: bold;
  font-size: 22px;
  line-height: 18px;
  letter-spacing: 0.02em;
}

.headerContentEnd {
  position: relative;
  display: flex;
  align-items: center;
}

.logo {
  height: 32px;
  width: 103px;
}

.avatar {
  margin-left: 12px;
  margin-right: 12px;
}

.avatarCircle {
  width: 40px;
  height: 40px;

  background-color: #76b1a6;
  border-radius: 100px;

  display: flex;
  justify-content: center;
  align-items: center;

  margin-right: 4px;

  background-size: cover;
  background-repeat: no-repeat;
}

.avatarIcon {
  width: 18px;
  height: 18px;
}

.logout {
  cursor: pointer;
}

.add {
  width: 28px !important;
  height: 28px !important;

  cursor: pointer;
}

.toggleAdd {
  z-index: 1000;
  position: absolute;
  top: 42px;
  right: 94px;
  width: 165px;
  max-height: 112px;
  background-color: #ffff;
  border-radius: 4px;
  box-shadow: 0px 2px 4px -1px rgb(0 0 0 / 20%),
    0px 4px 5px 0px rgb(0 0 0 / 14%), 0px 1px 10px 0px rgb(0 0 0 / 12%);
  padding-top: 8px;
  padding-bottom: 8px;
  display: flex;
  flex-direction: column;
}

.toggleAddButton {
  background: none;
  border: none;
  cursor: pointer;

  font-size: 18px;
  letter-spacing: 0.02em;
  line-height: 18px;

  height: 48px;
}

.toggleAddButton:hover {
  background: rgba(0, 0, 0, 0.04);
}

.dialog-join-title {
  text-align: center;
  font-weight: bold;
  font-size: 22px;
  margin-bottom: 12px;
}

.dialog-join-input {
  margin-bottom: 12px;
}

@media screen and (max-width: 500px) {
  .header {
    padding-left: 8px;
    padding-right: 8px;
  }

  .headerContentStartTitle {
    margin-left: 20px;
  }
}

@media screen and (max-width: 376px) {
  .headerContentStartTitle {
    margin-left: 8px;
  }

  .avatar {
    margin-left: 6px;
    margin-right: 6px;
  }

  .headerContentStartTitle {
    display: none;
  }
}
